summary {
	cursor: pointer; /* курсор на метке имеет вид руки */
}
summary:hover {
	color:#ff3200; /* изменение цвета метки при наведении */
}
pre.code {
	background-color: #eeeeee; /* фон для текста примера */
	padding: 4px 6px 4px 6px;
}
.container {
	width: 100%; /* ширина блока-контейнера */
	max-width: 1000px; /* максимальная ширина контейнера */
	margin: 0 auto; /* этот стиль центрирует контейнер */
}
.photo {
	float: left; /* говорим элементам выстраиваться один за другим */
	width: 25%; /* устанавливаем ширину элемента */
	padding: 8px; /* добавляем отступы с каждой стороны */
	box-sizing: border-box; /* меняем способ вычисления ширины */
}
.photo a:hover {
	opacity: 0.5;
}
.photo a {
	display: block;
}
figcaption {
	font-family: 'Open Sans', sans-serif;
	color: #999999;
	text-align: center;
	margin-top: 20px;
}
img	{
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px;  /* Rounded border */
	padding: 5px; /* Some padding */
	width: 240px; /* Set a small width */
	cursor: pointer;
}
img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	opacity: 0.7;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}
.modal-content:hover {
	opacity: 1;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
